

.signupmobilecopy6 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 812px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.signupmobilecopy6 .path3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 123px;
  height              : 1872px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : -57px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 648px;
  height              : 31px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 775px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group5 .path11copy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 31px;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group5 .path11copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 9px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group5 .path11copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 9px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 144px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group5 .path11copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 10px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 144px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group9copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 780px;
  height              : 30px;
  width               : 401px;
  position            : absolute;
  margin              : 0;
  left                : 784px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group9copy2 .path25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 401px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group9copy2 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 204px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group9copy2 .combinedshapecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 174px;
  position            : absolute;
  margin              : 0;
  left                : 77px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .path11copy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 684px;
  height              : 31px;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 1094px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group14copy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 797px;
  height              : 12px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 728px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group14copy4 .path8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group14copy4 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 9px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group14copy4 .combinedshape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group14copy4 .combinedshape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 8px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 784px;
  height              : 25px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 743px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group14 .path8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group14 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 18px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group14 .combinedshape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group14 .combinedshape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 15px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group14copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 784px;
  height              : 25px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 1181px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group14copy3 .path8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group14copy3 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 18px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group14copy3 .combinedshape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group14copy3 .combinedshape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 15px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : 782px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchipresting {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 56px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchipresting .container {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 56px;
  box-sizing          : border-box;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.32);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchipresting .trailingicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 8px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 305px;
  transform           : rotate(-90deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchipresting .subtitle1colorstyle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchipresting .subtitle1colorstyle .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchipresting .subtitle1colorstyle .subtitle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : auto;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.6);
  text-align          : left;
  letter-spacing      : 0.16px;
  line-height         : 24.0px;
}
.signupmobilecopy6 .group .selectionchiprestingcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 198px;
  height              : 56px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy3 .container {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 56px;
  box-sizing          : border-box;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.32);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy3 .trailingicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 8px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 305px;
  transform           : rotate(-90deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy3 .subtitle1colorstyle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy3 .subtitle1colorstyle .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy3 .subtitle1colorstyle .subtitle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : auto;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.6);
  text-align          : left;
  letter-spacing      : 0.16px;
  line-height         : 24.0px;
}
.signupmobilecopy6 .group .selectionchiprestingcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 66px;
  height              : 56px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy .container {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 56px;
  box-sizing          : border-box;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.32);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy .trailingicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 8px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 305px;
  transform           : rotate(-90deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy .subtitle1colorstyle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy .subtitle1colorstyle .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy .subtitle1colorstyle .subtitle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : auto;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.6);
  text-align          : left;
  letter-spacing      : 0.16px;
  line-height         : 24.0px;
}
.signupmobilecopy6 .group .selectionchiprestingcopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 264px;
  height              : 56px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy4 .container {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 56px;
  box-sizing          : border-box;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.32);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy4 .trailingicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 8px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 305px;
  transform           : rotate(-90deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy4 .subtitle1colorstyle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy4 .subtitle1colorstyle .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy4 .subtitle1colorstyle .subtitle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : auto;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.6);
  text-align          : left;
  letter-spacing      : 0.16px;
  line-height         : 24.0px;
}
.signupmobilecopy6 .group .selectionchiprestingcopy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 396px;
  height              : 56px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy6 .container {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 56px;
  box-sizing          : border-box;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.32);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy6 .trailingicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 8px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 305px;
  transform           : rotate(-90deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy6 .subtitle1colorstyle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy6 .subtitle1colorstyle .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy6 .subtitle1colorstyle .subtitle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : auto;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.6);
  text-align          : left;
  letter-spacing      : 0.16px;
  line-height         : 24.0px;
}
.signupmobilecopy6 .group .selectionchiprestingcopy10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 528px;
  height              : 56px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy10 .container {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 56px;
  box-sizing          : border-box;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.32);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy10 .trailingicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 8px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 305px;
  transform           : rotate(-90deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy10 .subtitle1colorstyle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy10 .subtitle1colorstyle .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy10 .subtitle1colorstyle .subtitle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : auto;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.6);
  text-align          : left;
  letter-spacing      : 0.16px;
  line-height         : 24.0px;
}
.signupmobilecopy6 .group .selectionchiprestingcopy12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 660px;
  height              : 56px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy12 .container {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 56px;
  box-sizing          : border-box;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.32);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy12 .trailingicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 8px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 305px;
  transform           : rotate(-90deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy12 .subtitle1colorstyle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy12 .subtitle1colorstyle .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy12 .subtitle1colorstyle .subtitle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : auto;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.6);
  text-align          : left;
  letter-spacing      : 0.16px;
  line-height         : 24.0px;
}
.signupmobilecopy6 .group .selectionchiprestingcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 132px;
  height              : 56px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy2 .container {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 56px;
  box-sizing          : border-box;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(0, 0, 0, 0.8);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy2 .trailingicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 8px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 305px;
  transform           : rotate(-90deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy2 .subtitle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  letter-spacing      : 0.16px;
  line-height         : 24.0px;
}
.signupmobilecopy6 .group .selectionchiprestingcopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 330px;
  height              : 56px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy5 .container {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 56px;
  box-sizing          : border-box;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.32);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy5 .trailingicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 8px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 305px;
  transform           : rotate(-90deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy5 .subtitle1colorstyle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy5 .subtitle1colorstyle .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy5 .subtitle1colorstyle .subtitle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : auto;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.6);
  text-align          : left;
  letter-spacing      : 0.16px;
  line-height         : 24.0px;
}
.signupmobilecopy6 .group .selectionchiprestingcopy9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 462px;
  height              : 56px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy9 .container {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 56px;
  box-sizing          : border-box;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.32);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy9 .trailingicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 8px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 305px;
  transform           : rotate(-90deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy9 .subtitle1colorstyle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy9 .subtitle1colorstyle .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy9 .subtitle1colorstyle .subtitle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : auto;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.6);
  text-align          : left;
  letter-spacing      : 0.16px;
  line-height         : 24.0px;
}
.signupmobilecopy6 .group .selectionchiprestingcopy11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 594px;
  height              : 56px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy11 .container {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 56px;
  box-sizing          : border-box;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.32);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy11 .trailingicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 8px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 305px;
  transform           : rotate(-90deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy11 .subtitle1colorstyle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy11 .subtitle1colorstyle .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy11 .subtitle1colorstyle .subtitle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : auto;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.6);
  text-align          : left;
  letter-spacing      : 0.16px;
  line-height         : 24.0px;
}
.signupmobilecopy6 .group .selectionchiprestingcopy13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 726px;
  height              : 56px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy13 .container {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 56px;
  box-sizing          : border-box;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.32);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy13 .trailingicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 8px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 305px;
  transform           : rotate(-90deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy13 .subtitle1colorstyle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy13 .subtitle1colorstyle .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .group .selectionchiprestingcopy13 .subtitle1colorstyle .subtitle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : auto;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.6);
  text-align          : left;
  letter-spacing      : 0.16px;
  line-height         : 24.0px;
}
.signupmobilecopy6 .selectionchiprestingcopy7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 820px;
  height              : 56px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .selectionchiprestingcopy7 .container {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 56px;
  box-sizing          : border-box;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.32);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .selectionchiprestingcopy7 .trailingicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 8px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 305px;
  transform           : rotate(-90deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .selectionchiprestingcopy7 .subtitle1colorstyle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .selectionchiprestingcopy7 .subtitle1colorstyle .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .selectionchiprestingcopy7 .subtitle1colorstyle .subtitle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : auto;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.6);
  text-align          : left;
  letter-spacing      : 0.16px;
  line-height         : 24.0px;
}
.signupmobilecopy6 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 276px;
  height              : 7px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 325px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .whiteheadercopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 166px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .whiteheadercopy .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 166px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .whiteheader {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 70px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .whiteheader .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 70px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .whiteheader .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : 19px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 0.8;
}
.signupmobilecopy6 .whiteheader .group2 .path17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 19px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .whiteheader .group2 .path17copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 19px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .whiteheader .title {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : auto;
  width               : 291px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : center;
  line-height         : 20.0px;
}
.signupmobilecopy6 .selectionchiprestingcopy8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : 56px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .selectionchiprestingcopy8 .container {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 56px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy6 .selectionchiprestingcopy8 .subtitle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.6);
  text-align          : left;
  letter-spacing      : 0.16px;
  line-height         : 24.0px;
}
.signupmobilecopy6 .selectionchiprestingcopy8 .searchglass {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  transform           : rotate(0deg);
  opacity             : 0.8;
}
.signupmobilecopy6 .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 188px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 107px;
  transform           : rotate(0deg);
  opacity             : 0.5;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}