

.signupmobile {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 812px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.signupmobile .continuebutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 493px;
  height              : 48px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .continuebutton .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 335px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .continuebutton .group .group2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 335px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .continuebutton .group .group2copy .searchbg {
  background-color    : rgba(56, 134, 89, 1.0);
  top                 : 0px;
  height              : 48px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 21px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .continuebutton .group .group2copy .continue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 40px;
  width               : 189px;
  position            : absolute;
  margin              : 0;
  left                : 73px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.signupmobile .group29copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 245px;
  height              : 56px;
  width               : 334px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group29copy3 .youradventurehasb {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 334px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : center;
  line-height         : 28.0px;
}
.signupmobile .logogreen {
  background-color    : rgba(255,255,255,0.0);
  top                 : 137px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 148px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .logogreen .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .logogreen .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 58px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .logogreen .path3copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 8px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  transform           : rotate(270deg);
  opacity             : 1.0;
}
.signupmobile .logogreen .path3copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 68px;
  height              : 8px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  transform           : rotate(-270deg);
  opacity             : 1.0;
}
.signupmobile .logogreen .path3copy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 36px;
  height              : 8px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .logogreen .path3copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 36px;
  height              : 8px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .path3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 123px;
  height              : 1872px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : -57px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 591px;
  height              : 219px;
  width               : 2462px;
  position            : absolute;
  margin              : 0;
  left                : -893px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 219px;
  width               : 2462px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 359px;
  width               : 2462px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 0.63;
}
.signupmobile .forestflooe .group16 .path34 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 130px;
  height              : 228px;
  width               : 664px;
  position            : absolute;
  margin              : 0;
  left                : 1147px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group16 .path34copy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 107px;
  height              : 247px;
  width               : 903px;
  position            : absolute;
  margin              : 0;
  left                : 650px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group16 .path34copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 122px;
  height              : 199px;
  width               : 567px;
  position            : absolute;
  margin              : 0;
  left                : 527px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group16 .path34copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 144px;
  height              : 160px;
  width               : 832px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group16 .path34copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 338px;
  width               : 927px;
  position            : absolute;
  margin              : 0;
  left                : 1535px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 135px;
  height              : 80px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 1216px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group8 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 47px;
  height              : 33px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group8 .group4 .group12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 33px;
  width               : 12px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group8 .group4 .group12 .group11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 33px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group8 .group4 .group12 .group11 .path6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : 9px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group8 .group4 .group12 .group11 .rectangle {
  background-color    : rgba(108, 42, 10, 1.0);
  top                 : 1px;
  height              : 31px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group8 .group4 .group12 .rectanglecopy {
  background-color    : rgba(88, 34, 7, 1.0);
  top                 : 1px;
  height              : 31px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group8 .path9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 74px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group8 .path9copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 74px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 125px;
  height              : 32px;
  width               : 83px;
  position            : absolute;
  margin              : 0;
  left                : 1026px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group9 .path11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 62px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group9 .path11copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 17px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 100px;
  height              : 32px;
  width               : 73px;
  position            : absolute;
  margin              : 0;
  left                : 1146px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group9copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 199px;
  height              : 85px;
  width               : 1118px;
  position            : absolute;
  margin              : 0;
  left                : 731px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group9copy3 .path251 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 85px;
  width               : 1117px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group9copy3 .combinedshape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 85px;
  width               : 569px;
  position            : absolute;
  margin              : 0;
  left                : 128px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group9copy3 .combinedshapecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 85px;
  width               : 485px;
  position            : absolute;
  margin              : 0;
  left                : 216px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .path25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 210px;
  height              : 85px;
  width               : 1117px;
  position            : absolute;
  margin              : 0;
  left                : 525px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group8copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 149px;
  height              : 62px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 1172px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group8copy .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 36px;
  height              : 26px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group8copy .group4 .path6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group8copy .group4 .rectangle {
  background-color    : rgba(108, 42, 10, 1.0);
  top                 : 1px;
  height              : 25px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group8copy .group4 .rectanglecopy {
  background-color    : rgba(88, 34, 7, 1.0);
  top                 : 1px;
  height              : 25px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group8copy .path9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 59px;
  width               : 41px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group8copy .path9copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 59px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 210px;
  height              : 85px;
  width               : 569px;
  position            : absolute;
  margin              : 0;
  left                : 652px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group81 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 139px;
  height              : 80px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 925px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group81 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : 33px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group81 .group4 .path6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : 5px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group81 .group4 .rectangle {
  background-color    : rgba(108, 42, 10, 1.0);
  top                 : 1px;
  height              : 32px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group81 .group4 .rectanglecopy {
  background-color    : rgba(88, 34, 7, 1.0);
  top                 : 1px;
  height              : 32px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group81 .path9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 76px;
  width               : 53px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group81 .path9copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 76px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group82 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 175px;
  height              : 44px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 910px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group82 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 20px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group82 .group4 .path6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 4px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group82 .group4 .rectangle {
  background-color    : rgba(108, 42, 10, 1.0);
  top                 : 1px;
  height              : 18px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group82 .group4 .rectanglecopy {
  background-color    : rgba(88, 34, 7, 1.0);
  top                 : 1px;
  height              : 18px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group82 .path9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 42px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group82 .path9copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 42px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group14copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 214px;
  height              : 4px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 957px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group14copy5 .path8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 4px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group14copy5 .combinedshape3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 3px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group14copy5 .combinedshape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 4px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group14copy5 .combinedshape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 2px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group9copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 199px;
  height              : 30px;
  width               : 401px;
  position            : absolute;
  margin              : 0;
  left                : 818px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group9copy5 .path251 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 401px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group9copy5 .combinedshape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 204px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .forestflooe .group9copy5 .combinedshapecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 174px;
  position            : absolute;
  margin              : 0;
  left                : 77px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 648px;
  height              : 31px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 775px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group5 .path11copy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 31px;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group5 .path11copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 9px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group5 .path11copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 9px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 144px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group5 .path11copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 10px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 144px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group9copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 780px;
  height              : 30px;
  width               : 401px;
  position            : absolute;
  margin              : 0;
  left                : 784px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group9copy2 .path25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 401px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group9copy2 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 204px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group9copy2 .combinedshapecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 174px;
  position            : absolute;
  margin              : 0;
  left                : 77px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .path11copy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 684px;
  height              : 31px;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 1094px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group14copy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 797px;
  height              : 12px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 728px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group14copy4 .path8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group14copy4 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 9px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group14copy4 .combinedshape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group14copy4 .combinedshape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 8px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 784px;
  height              : 25px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 743px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group14 .path8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group14 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 18px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group14 .combinedshape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group14 .combinedshape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 15px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group14copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 784px;
  height              : 25px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 1181px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group14copy3 .path8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group14copy3 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 18px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group14copy3 .combinedshape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .group14copy3 .combinedshape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 15px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .whiteheader {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 70px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .whiteheader .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 70px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .whiteheader .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : 19px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .whiteheader .group .path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .whiteheader .group .path2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 3px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .whiteheader .group .path2copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 3px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobile .whiteheader .title {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : auto;
  width               : 291px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : center;
  line-height         : 20.0px;
}
.signupmobile .thegooutfitterteam {
  background-color    : rgba(255,255,255,0.0);
  top                 : 326px;
  height              : auto;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : center;
  line-height         : 25.0px;
}
.signupmobile .inthemeantimepl {
  background-color    : rgba(255,255,255,0.0);
  top                 : 415px;
  height              : auto;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : center;
  line-height         : 25.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-valign-text-middle {
  display             : flex;
  flex-direction      : column;
  justify-content     : center;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}