

.signupmobilecopy12 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 812px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.signupmobilecopy12 .path3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 123px;
  height              : 1872px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : -57px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 648px;
  height              : 31px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 775px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group5 .path11copy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 31px;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group5 .path11copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 9px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group5 .path11copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 9px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 144px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group5 .path11copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 10px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 144px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group9copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 780px;
  height              : 30px;
  width               : 401px;
  position            : absolute;
  margin              : 0;
  left                : 784px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group9copy2 .path25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 401px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group9copy2 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 204px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group9copy2 .combinedshapecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 174px;
  position            : absolute;
  margin              : 0;
  left                : 77px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .path11copy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 684px;
  height              : 31px;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 1094px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group14copy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 797px;
  height              : 12px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 728px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group14copy4 .path8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group14copy4 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 9px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group14copy4 .combinedshape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group14copy4 .combinedshape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 8px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 784px;
  height              : 25px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 743px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group14 .path8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group14 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 18px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group14 .combinedshape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group14 .combinedshape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 15px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group14copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 784px;
  height              : 25px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 1181px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group14copy3 .path8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group14copy3 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 18px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group14copy3 .combinedshape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .group14copy3 .combinedshape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 15px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .selectionchiprestingcopy7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 820px;
  height              : 56px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .selectionchiprestingcopy7 .container {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 56px;
  box-sizing          : border-box;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(0, 0, 0, 0.32);
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .selectionchiprestingcopy7 .trailingicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 24px;
  height              : 8px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 305px;
  transform           : rotate(-90deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .selectionchiprestingcopy7 .subtitle1colorstyle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .selectionchiprestingcopy7 .subtitle1colorstyle .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 24px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .selectionchiprestingcopy7 .subtitle1colorstyle .subtitle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : auto;
  width               : 235px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.6);
  text-align          : left;
  letter-spacing      : 0.16px;
  line-height         : 24.0px;
}
.signupmobilecopy12 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 276px;
  height              : 7px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 325px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .pagetitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 110px;
  height              : 53px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .pagetitle .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 53px;
  width               : 335px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .pagetitle .group .homepageheaderswithdropdownsboldwithpadding {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 53px;
  width               : 335px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .pagetitle .group .homepageheaderswithdropdownsboldwithpadding .headline6copy9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  line-height         : 26.0px;
}
.signupmobilecopy12 .whiteheader {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 70px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .whiteheader .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 70px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .whiteheader .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : 19px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .whiteheader .group .path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .whiteheader .group .path2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 3px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .whiteheader .group .path2copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 3px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .whiteheader .title {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : auto;
  width               : 291px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : center;
  line-height         : 20.0px;
}
.signupmobilecopy12 .footerbuttons {
  background-color    : rgba(255,255,255,0.0);
  top                 : 734px;
  height              : 78px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .footerbuttons .rectangle2 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 78px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .footerbuttons .rectangle1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 78px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .footerbuttons .rectanglecopy {
  background-color    : rgba(0, 0, 0, 0.1);
  top                 : 0px;
  height              : 1px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .footerbuttons .continuebutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 48px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 225px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .footerbuttons .continuebutton .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 130px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .footerbuttons .continuebutton .group .group2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 130px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .footerbuttons .continuebutton .group .group2copy .searchbg {
  background-color    : rgba(56, 134, 89, 1.0);
  top                 : 0px;
  height              : 48px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 21px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .footerbuttons .continuebutton .group .group2copy .continue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 75px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.signupmobilecopy12 .footerbuttons .group6copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 48px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .footerbuttons .group6copy3 .group6copy31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .addchipresting {
  background-color    : rgba(255,255,255,0.0);
  top                 : 183px;
  height              : 56px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .rectangle {
  background-color    : rgba(0, 0, 0, 0.5);
  top                 : 0px;
  height              : 812px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu {
  background-color    : rgba(255,255,255,0.0);
  top                 : -2px;
  height              : 816px;
  width               : 286px;
  position            : absolute;
  margin              : 0;
  left                : -2px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 816px;
  width               : 286px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : 667px;
  width               : 282px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 667px;
  width               : 282px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .background {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 667px;
  width               : 282px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 127px;
  height              : 413px;
  width               : 265px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .overviewtext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 33px;
  width               : 213px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .overviewtext .headline5copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 215px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  line-height         : 31.0px;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .overviewtextcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 63px;
  height              : 33px;
  width               : 213px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .overviewtextcopy .headline5copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 215px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  line-height         : 31.0px;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .overviewtextcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 125px;
  height              : 33px;
  width               : 213px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .overviewtextcopy2 .headline5copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 215px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  line-height         : 31.0px;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .overviewtextcopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 187px;
  height              : 33px;
  width               : 213px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .overviewtextcopy3 .headline5copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 215px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  line-height         : 31.0px;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .overviewtextcopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 249px;
  height              : 33px;
  width               : 213px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .overviewtextcopy4 .headline5copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 215px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  line-height         : 31.0px;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .overviewtextcopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 311px;
  height              : 33px;
  width               : 213px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .overviewtextcopy5 .headline5copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 215px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  line-height         : 31.0px;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .overviewtextcopy9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 379px;
  height              : 33px;
  width               : 213px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .overviewtextcopy9 .headline5copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 215px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  line-height         : 31.0px;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .stepbubble {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .stepbubble .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .stepbubble .group4 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .stepbubblecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 65px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .stepbubblecopy .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .stepbubblecopy .group4 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .stepbubblecopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 127px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .stepbubblecopy2 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .stepbubblecopy2 .group4 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .stepbubblecopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 189px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .stepbubblecopy3 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .stepbubblecopy3 .group4 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .stepbubblecopy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 251px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .stepbubblecopy4 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .stepbubblecopy4 .group4 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .stepbubblecopy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 313px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .stepbubblecopy5 .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .stepbubblecopy5 .group4 .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 28px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .finishedbubble {
  background-color    : rgba(255,255,255,0.0);
  top                 : 375px;
  height              : 38px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .finishedbubble .ovalcopy8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 38px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .path6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 31px;
  height              : 32px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .path6copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 94px;
  height              : 32px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .path6copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 218px;
  height              : 32px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .path6copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 342px;
  height              : 32px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .path6copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 156px;
  height              : 32px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group2 .path6copy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 280px;
  height              : 32px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .rectanglecopy {
  background-color    : rgba(0, 0, 0, 0.1);
  top                 : 333px;
  height              : 1px;
  width               : 667px;
  position            : absolute;
  margin              : 0;
  left                : -52px;
  transform           : rotate(90deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 41px;
  width               : 191px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group1 .icongridssystemiconwhitecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 41px;
  width               : 41px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group1 .icongridssystemiconwhitecopy .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 41px;
  width               : 41px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group1 .icongridssystemiconwhitecopy .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 6px;
  height              : 30px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group1 .icongridssystemiconwhitecopy .path3copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 4px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  transform           : rotate(270deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group1 .icongridssystemiconwhitecopy .path3copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 35px;
  height              : 4px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  transform           : rotate(-270deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group1 .icongridssystemiconwhitecopy .path3copy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 4px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group1 .icongridssystemiconwhitecopy .path3copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 4px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .adventurecreatoroverviewmobile .group1 .adventurecreator {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  line-height         : 20.0px;
}
.signupmobilecopy12 .adventurecreatormenu .group .group6copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 580px;
  height              : 48px;
  width               : 129px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy12 .adventurecreatormenu .group .group6copy3 .group6copy31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 129px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-valign-text-middle {
  display             : flex;
  flex-direction      : column;
  justify-content     : center;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}