

.signupmobilecopy105 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 812px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.signupmobilecopy105 .pagetitle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 110px;
  height              : 30px;
  width               : 335px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .pagetitle .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 335px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .pagetitle .group .homepageheaderswithdropdownsboldwithpadding {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 335px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .pagetitle .group .homepageheaderswithdropdownsboldwithpadding .headline6copy9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  line-height         : 26.0px;
}
.signupmobilecopy105 .path3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 123px;
  height              : 1874px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : -57px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 648px;
  height              : 31px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 775px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group5 .path11copy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 31px;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group5 .path11copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 9px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group5 .path11copy5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 9px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 144px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group5 .path11copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 10px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 144px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group9copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 780px;
  height              : 30px;
  width               : 401px;
  position            : absolute;
  margin              : 0;
  left                : 784px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group9copy2 .path25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 401px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group9copy2 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 204px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group9copy2 .combinedshapecopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 30px;
  width               : 174px;
  position            : absolute;
  margin              : 0;
  left                : 77px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .path11copy6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 684px;
  height              : 31px;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 1094px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group14copy4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 797px;
  height              : 12px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 727px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group14copy4 .path8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group14copy4 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 3px;
  height              : 9px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group14copy4 .combinedshape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group14copy4 .combinedshape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 8px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 784px;
  height              : 25px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 743px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group14 .path8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group14 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 18px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group14 .combinedshape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group14 .combinedshape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 15px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group14copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 784px;
  height              : 25px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 1182px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group14copy3 .path8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group14copy3 .combinedshape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 18px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group14copy3 .combinedshape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .group14copy3 .combinedshape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 15px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .whiteheader {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 70px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .whiteheader .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 70px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .whiteheader .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 26px;
  height              : 19px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .whiteheader .group .path2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .whiteheader .group .path2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 3px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .whiteheader .group .path2copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 3px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .whiteheader .title {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : auto;
  width               : 291px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : center;
  line-height         : 20.0px;
}
.signupmobilecopy105 .thegooutfitterteam {
  background-color    : rgba(255,255,255,0.0);
  top                 : 160px;
  height              : auto;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  line-height         : 25.0px;
}
.signupmobilecopy105 .gooutfitteradventur {
  background-color    : rgba(255,255,255,0.0);
  top                 : 305px;
  height              : auto;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  line-height         : 25.0px;
}
.signupmobilecopy105 .gooutfitterkeeps10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 478px;
  height              : auto;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  line-height         : 25.0px;
}
.signupmobilecopy105 .myadventurecomplie {
  background-color    : rgba(255,255,255,0.0);
  top                 : 659px;
  height              : auto;
  width               : 302px;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  line-height         : 25.0px;
}
.signupmobilecopy105 .iconfirmthatmyde {
  background-color    : rgba(255,255,255,0.0);
  top                 : 753px;
  height              : auto;
  width               : 302px;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  line-height         : 25.0px;
}
.signupmobilecopy105 .iagreewiththegoo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 847px;
  height              : auto;
  width               : 302px;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  line-height         : 25.0px;
}
.signupmobilecopy105 .iagreewiththegoo .span1 {
  
}
.signupmobilecopy105 .iagreewiththegoo .span2 {
  color               : rgba(21, 48, 197, 1.0);
}
.signupmobilecopy105 .iagreewiththegoo .span3 {
  
}
.signupmobilecopy105 .iagreewiththegoo .span4 {
  color               : rgba(12, 58, 195, 1.0);
}
.signupmobilecopy105 .iagreewiththegoo .span5 {
  
}
.signupmobilecopy105 .minimumguests {
  background-color    : rgba(255,255,255,0.0);
  top                 : 272px;
  height              : auto;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  line-height         : 25.0px;
}
.signupmobilecopy105 .servicefee {
  background-color    : rgba(255,255,255,0.0);
  top                 : 445px;
  height              : auto;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  line-height         : 25.0px;
}
.signupmobilecopy105 .bysubmittingicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 590px;
  height              : auto;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(0, 0, 0, 0.8);
  text-align          : left;
  line-height         : 25.0px;
}
.signupmobilecopy105 .checkboxresting {
  background-color    : rgba(255,255,255,0.0);
  top                 : 659px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .checkboxresting .checkboxresting1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .checkboxrestingcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 753px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .checkboxrestingcopy .checkboxrestingcopy1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .checkboxrestingcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 847px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .checkboxrestingcopy2 .checkboxrestingcopy21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 25px;
  width               : 25px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .footerbuttons {
  background-color    : rgba(255,255,255,0.0);
  top                 : 734px;
  height              : 78px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .footerbuttons .rectangle {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 78px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .footerbuttons .rectanglecopy {
  background-color    : rgba(0, 0, 0, 0.1);
  top                 : 0px;
  height              : 1px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .footerbuttons .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 48px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 175px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .footerbuttons .group .group2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 180px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .footerbuttons .group .group2copy .searchbg {
  background-color    : rgba(56, 134, 89, 1.0);
  top                 : 0px;
  height              : 48px;
  width               : 180px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 21px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .footerbuttons .group .group2copy .continue {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.signupmobilecopy105 .footerbuttons .group6copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 48px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.signupmobilecopy105 .footerbuttons .group6copy3 .group6copy31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-valign-text-middle {
  display             : flex;
  flex-direction      : column;
  justify-content     : center;
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}